body {
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.main {
    background-image: url(hinh1.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.main-bgr{
    width: 213px;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 9%;
    left: 45%;
}
.main-bgr2{
    width: 684px;
    height: 120px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 54%;
}
.main-bgr3{
    width: 184px;
    height: 200px;
    background-color: white;
    position: absolute;
   top: 0;
    right: 0;
}
.main h1{
    color: black;
    font-weight: 500;
    position: absolute;
    font-size: 75px;
    width: 25%;
    top: 140px;
    left: 8%;
    text-align: start;
}
.main h2{
    color: black;
    font-weight: initial;
    position: absolute;
    font-size: 29px;
    width: 40%;
    top: 350px;
    left: 8%;
}
.main .img1{
    position: absolute;
    top: 11%;
    left: 62%;
    height: 650px;
    width: 300px;
}
.main .img2{
    position: absolute;
    top: 4%;
    left: 53%;
}
.main .img3{
    position: absolute;
    top: 0;
    left: 78%;
}
.main .img4{
    position: absolute;
    top: 45%;
    width: 220.666666667px;
    height: 288.666666667px;
    left: 83%;
}
.main h1:hover{
    color: green;
    cursor: pointer;
}